@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --prim-clr: rgb(96, 28, 213);
    --sec-clr: rgba(91, 94, 255, 0.264);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Karla", sans-serif !important;
}

.growth-plus-btn {
    background: rgb(85, 85, 255);
    color: white !important;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700 !important;
    padding: 8px 16px !important;

    &:hover {
        color: var(--prim-clr) !important;
    }
}

.growth-dash {
    width: 100%;
    height: 100%;

    .growth-dash-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .growth-side-bar {
            width: 250px;
            height: 100%;
            box-shadow: 0 0 15px rgba(183, 183, 183, 0.612);
        }

        .growth-right-container {
            width: calc(100% - 250px);
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .growth-header-navbar {
                width: 100%;
                height: 60px;
                box-shadow: 0 0 10px rgba(183, 183, 183, 0.355);
                background: white;

                .header-wrap {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 25px;

                    .header-left {
                        width: 50%;
                        height: 100%;

                        ul {
                            width: 100%;
                            height: 100%;
                            list-style: none;
                            display: flex;
                            gap: 10px;
                            align-items: center;

                            li {
                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-size: 0.8em;
                                    font-weight: 600;
                                    padding: 8px 16px;
                                    border-radius: 5px;
                                    box-shadow: 0 0 10px rgba(168, 168, 168, 0.714);
                                    font-family: "Karla", sans-serif !important;
                                    transition: 0.5s ease;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 5px;

                                    span {
                                        font-size: 1.3em;
                                    }

                                    &:hover {
                                        background: var(--sec-clr);
                                        color: var(--prim-clr);
                                        transition: 0.5s ease;
                                    }


                                }

                            }

                        }


                    }

                    .header-right {
                        width: 50%;
                        height: 100%;

                        ul {
                            width: 100%;
                            height: 100%;
                            list-style: none;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            justify-content: flex-end;

                            li {
                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-size: 0.8em;
                                    font-weight: 600;
                                    padding: 8px;
                                    border-radius: 5px;
                                    box-shadow: 0 0 10px rgba(168, 168, 168, 0.714);
                                    font-family: "Karla", sans-serif !important;
                                    transition: 0.5s ease;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    overflow: hidden;

                                    img {
                                        width: 18px;
                                        height: 18px;
                                    }

                                    span {
                                        font-size: 1.3em;
                                    }

                                    &:hover {
                                        background: var(--sec-clr);
                                        color: var(--prim-clr);
                                        transition: 0.5s ease;
                                    }

                                }

                            }
                        }

                    }
                }
            }

            .growth-dynamic-pages {
                width: 100%;
                height: calc(100% - 60px);


                .dynamic-page-wrapper {}
            }
        }
    }
}