@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --prim-clr: rgb(0, 133, 228);
    --ter-clr: rgb(85, 85, 255);
    --sec-clr: rgba(91, 192, 255, 0.16);
    --shadow: 0 0 15px rgba(183, 183, 183, 0.612);
    --karla: "Karla", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100svh;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Karla", sans-serif !important;
}

.growth-plus-btn {
    background: rgb(85, 85, 255);
    color: white !important;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700 !important;
    padding: 8px 16px !important;

    &:hover {
        color: var(--prim-clr) !important;
    }
}

.growth-dash {
    width: 100%;
    height: 100%;

    .growth-dash-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .growth-side-bar {
            width: 250px;
            height: 100%;
            box-shadow: 0 0 15px rgba(183, 183, 183, 0.612);
            transition: 0.5s ease-in-out;

            &.collapsed {
                width: 60px;
                transition: 0.5s ease-in-out;
            }

            .our-custom-sidebar {
                width: 100%;
                height: 100%;
                border-right: 2px solid rgba(137, 137, 137, 0.223);

                .our-sidebar-wrap {
                    width: 100%;
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding: 25px 15px;
                    -ms-overflow-style: none;
                    /* IE and Edge */
                    scrollbar-width: none;
                    /* Firefox */

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    &.cllpsd-padding {
                        padding: 25px 5px;

                    }

                    .our-side-menu {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        .logo-cum-btn {
                            width: 100%;
                            margin-bottom: 20px;

                            .logo-collpse {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .collapse-sidebar-btn {
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: none;
                                    outline: none;
                                    gap: 2px;
                                    transition: 0.5s ease;
                                    font-weight: 800;
                                    background: transparent;
                                    cursor: pointer;
                                    border-radius: 3px;


                                    .line {
                                        transition: 0.5s ease;
                                    }

                                    &::before {
                                        content: "|";
                                    }

                                    &::after {
                                        content: "|";
                                    }

                                    &.closed {
                                        gap: 0px;
                                        transition: 0.5s ease;
                                    }

                                    &:hover {
                                        background: var(--sec-clr);
                                        color: var(--prim-clr);
                                        gap: 0px;
                                        transition: 0.5s ease;

                                        .line {
                                            display: none;
                                            transition: 0.5s ease;
                                        }
                                    }
                                }

                            }
                        }

                        .normal-link {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            a {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                padding: 12px 18px;
                                align-items: center;
                                font-family: "Karla", sans-serif;
                                text-decoration: none;
                                color: rgb(63, 63, 63);
                                border-radius: 5px;
                                transition: 0.5s ease;

                                .lnk-ttl {
                                    display: flex;
                                    gap: 15px;
                                    align-items: center;
                                    transition: 0.5s ease;

                                    span {
                                        font-size: 1.3em;
                                    }
                                }

                                .arrow {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                &.active {
                                    background: rgba(78, 155, 255, 0.132);
                                    color: var(--prim-clr);
                                    font-weight: 700;
                                }
                            }

                            &:hover {
                                background: #f0f0f0b9;

                                a {
                                    .lnk-ttl {
                                        transform: translateX(5px);
                                        transition: 0.5s ease;
                                    }
                                }
                            }

                        }

                        .drop-dwn-link {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            &:hover {
                                background: #f0f0f0b9;
                            }

                            &.dropped {
                                background: #f7f7f7bf;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;

                                a {
                                    .arrow {
                                        transform: rotate(90deg);
                                        transition: 0.5s ease;
                                    }

                                }

                                .drop-menu {
                                    max-height: 500px;
                                    transition: 0.5s ease-in-out;
                                    background: #f7f7f7bf;

                                    .drop-menu-item {
                                        a {
                                            .arrow {
                                                transform: rotate(-90deg);
                                                transition: 0.5s ease;
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                padding: 12px 18px;
                                align-items: center;
                                font-family: "Karla", sans-serif;
                                text-decoration: none;
                                color: rgb(63, 63, 63);
                                border-radius: 5px;

                                .lnk-ttl {
                                    display: flex;
                                    gap: 15px;
                                    align-items: center;
                                    transition: 0.5s ease;

                                    span {
                                        font-size: 1.3em;
                                    }
                                }

                                .arrow {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: 0.5s ease;
                                }

                                &.active {
                                    background: rgba(78, 155, 255, 0.132);
                                    color: var(--prim-clr);
                                    font-weight: 700;
                                }
                            }

                            .drop-menu {
                                width: 100%;
                                max-height: 0px;
                                border-radius: 5px;
                                padding-left: 30px;
                                overflow: hidden;
                                transition: 0.5s ease;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;

                                .drop-menu-item {

                                    &:hover {
                                        a {
                                            .lnk-ttl {
                                                transform: translateX(5px);
                                                transition: 0.5s ease;
                                            }

                                        }

                                    }

                                    a {
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 12px;
                                        align-items: center;
                                        font-family: "Karla", sans-serif;
                                        text-decoration: none;
                                        color: rgb(89, 89, 89);
                                        border-radius: 5px;
                                        font-size: 0.9em;

                                        .lnk-ttl {
                                            display: flex;
                                            gap: 15px;
                                            align-items: center;
                                            transition: 0.5s ease;

                                            span {
                                                font-size: 1.3em;
                                            }
                                        }

                                        .arrow {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            transition: 0.5s ease;

                                        }

                                        &.active {
                                            background: rgba(78, 155, 255, 0.132);
                                            color: var(--prim-clr);
                                            font-weight: 700;
                                        }
                                    }

                                }
                            }

                        }
                    }

                    .our-side-collapsed-menu {
                        display: none;
                        list-style: none;
                        flex-direction: column;
                        gap: 20px;

                        .logo-cum-btn {
                            width: 100%;
                            margin-bottom: 20px;

                            .logo-collpse {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 15px;

                                .opn-sidebar-btn {
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: none;
                                    outline: none;
                                    gap: 2px;
                                    transition: 0.5s ease;
                                    font-weight: 800;
                                    background: transparent;
                                    cursor: pointer;
                                    border-radius: 3px;


                                    .line {
                                        transition: 0.5s ease;
                                    }

                                    &::before {
                                        content: "|";
                                    }

                                    &::after {
                                        content: "|";
                                    }

                                    &.closed {
                                        gap: 0px;
                                        transition: 0.5s ease;
                                    }

                                    &:hover {
                                        background: var(--sec-clr);
                                        color: var(--prim-clr);
                                        gap: 0px;
                                        transition: 0.5s ease;

                                        .line {
                                            display: none;
                                            transition: 0.5s ease;
                                        }
                                    }
                                }

                            }
                        }

                        .normal-link {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.5s ease;


                            a {
                                width: 30px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-family: "Karla", sans-serif;
                                text-decoration: none;
                                color: rgb(63, 63, 63);
                                border-radius: 5px;
                                transition: 0.5s ease;

                                .lnk-ttl {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: 0.5s ease;

                                    span {
                                        font-size: 1.3em;
                                    }
                                }

                                .arrow {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                &.active {
                                    background: rgba(78, 155, 255, 0.132);
                                    color: var(--prim-clr);
                                    font-weight: 700;
                                }
                            }

                            &:hover {
                                scale: 1.05;
                                transition: 0.5s ease;
                                background: #f0f0f0b9;
                            }

                        }

                        .drop-dwn-link {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 15px;

                            &:hover {}

                            &.dropped {
                                background: #f7f7f7bf;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;

                                a {
                                    .arrow {
                                        transform: rotate(-180deg);
                                        transition: 0.5s ease;
                                    }

                                }

                                .drop-menu {
                                    max-height: 500px;
                                    transition: 0.5s ease-in-out;
                                    background: #000000bf;

                                    .drop-menu-item {
                                        a {
                                            color: white;

                                            .arrow {
                                                transform: rotate(-90deg);
                                                transition: 0.5s ease;
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                width: 30px;
                                height: 30px;
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                align-items: center;
                                font-family: "Karla", sans-serif;
                                text-decoration: none;
                                color: rgb(0, 0, 0);
                                border-radius: 5px;

                                .lnk-ttl {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: 0.5s ease;

                                    span {
                                        font-size: 1.3em;
                                    }
                                }

                                .arrow {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: 0.5s ease;

                                    span {
                                        font-size: 1em;
                                    }
                                }

                                &.active {
                                    background: rgba(78, 155, 255, 0.132);
                                    color: var(--prim-clr);
                                    font-weight: 700;
                                }
                            }

                            .drop-menu {
                                width: 100%;
                                max-height: 0px;
                                border-radius: 5px;
                                overflow: hidden;
                                transition: 0.5s ease;
                                border-bottom-left-radius: 5px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 15px;
                                border-bottom-right-radius: 5px;

                                .drop-menu-item {

                                    &:hover {
                                        a {
                                            .lnk-ttl {
                                                scale: 1.3;
                                                transition: 0.5s ease;
                                            }

                                        }

                                    }

                                    a {
                                        width: 30px;
                                        height: 30px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-family: "Karla", sans-serif;
                                        text-decoration: none;
                                        color: rgb(0, 0, 0);
                                        border-radius: 5px;
                                        font-size: 0.9em;

                                        .lnk-ttl {
                                            display: flex;
                                            gap: 15px;
                                            align-items: center;
                                            transition: 0.5s ease;

                                            span {
                                                font-size: 1.3em;
                                            }
                                        }

                                        .arrow {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            transition: 0.5s ease;

                                        }

                                        &.active {
                                            background: rgba(78, 155, 255, 0.132);
                                            color: var(--prim-clr);
                                            font-weight: 700;
                                        }
                                    }

                                }
                            }

                        }
                    }

                }
            }
        }

        .growth-right-container {
            flex: 1;
            height: 100%;
            transition: margin-left 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .growth-header-navbar {
                width: 100%;
                height: 60px;
                box-shadow: 0 0 10px rgba(183, 183, 183, 0.355);
                background: white;

                .header-wrap {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 25px;

                    .header-left {
                        width: 50%;
                        height: 100%;

                        ul {
                            width: 100%;
                            height: 100%;
                            list-style: none;
                            display: flex;
                            gap: 10px;
                            align-items: center;

                            li {
                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-size: 0.8em;
                                    font-weight: 600;
                                    padding: 8px 16px;
                                    border-radius: 5px;
                                    box-shadow: 0 0 10px rgba(168, 168, 168, 0.714);
                                    font-family: "Karla", sans-serif !important;
                                    transition: 0.5s ease;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 5px;

                                    span {
                                        font-size: 1.3em;
                                    }

                                    &:hover {
                                        background: var(--sec-clr);
                                        color: var(--prim-clr);
                                        transition: 0.5s ease;
                                    }


                                }

                            }

                        }


                    }

                    .header-right {
                        width: 50%;
                        height: 100%;

                        ul {
                            width: 100%;
                            height: 100%;
                            list-style: none;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            justify-content: flex-end;

                            li {
                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-size: 0.8em;
                                    font-weight: 600;
                                    padding: 8px;
                                    border-radius: 5px;
                                    box-shadow: 0 0 10px rgba(168, 168, 168, 0.714);
                                    font-family: "Karla", sans-serif !important;
                                    transition: 0.5s ease;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    overflow: hidden;

                                    img {
                                        width: 18px;
                                        height: 18px;
                                    }

                                    span {
                                        font-size: 1.3em;
                                    }

                                    &:hover {
                                        background: var(--sec-clr);
                                        color: var(--prim-clr);
                                        transition: 0.5s ease;
                                    }

                                }

                            }
                        }

                    }
                }
            }

            .growth-dynamic-pages {
                width: 100%;
                height: calc(100% - 60px);
                overflow-x: hidden;
                overflow-y: auto;
                background: #f8f9f9;

                .dynamic-page-wrapper {
                    padding: 25px;



                    // User Dash Styling
                    .user-dashboard {
                        width: 100%;

                        .user-dash-wrap {
                            width: 100%;

                            .usr-dash-header {
                                width: 100%;
                                padding: 10px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 30px;
                                position: sticky;
                                top: 0;
                                left: 0;
                                background: #f8f9f9;
                                z-index: 2;


                                .dash-title {
                                    h1 {
                                        font-family: "Karla", sans-serif;
                                    }
                                }

                                .user-details {
                                    padding: 5px 20px;
                                    background: white;
                                    box-shadow: 0 0 15px rgb(190, 190, 190);
                                    border-radius: 10px;

                                    .usr-det-row {
                                        display: flex;
                                        align-items: center;
                                        gap: 20px;
                                        margin: 10px 0;

                                        .prof-pic {
                                            width: 40px;
                                            height: 40px;
                                            border: 2px solid white;
                                            padding: 3px;
                                            border-radius: 50%;

                                            img {
                                                width: 100%;
                                                height: 100%;
                                                border-radius: 50%;
                                            }
                                        }

                                        .user-name {
                                            font-family: "Karla", sans-serif;
                                            font-weight: 400;
                                        }

                                        .copytoclipboard {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            gap: 5px;
                                            border-radius: 5px;
                                            background: rgba(25, 82, 255, 0.299);
                                            overflow: hidden;

                                            #textToCopy {
                                                width: calc(100% - 30px);
                                                height: 30px;
                                                border: none;
                                                padding: 5px;
                                                border-radius: 4px;
                                                resize: none;
                                                outline: none;
                                                background: transparent;
                                                color: rgb(0, 0, 0);
                                                font-weight: 600;
                                            }

                                            #copyButton {
                                                width: 30px;
                                                height: 30px;
                                                border: none;
                                                outline: none;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                color: rgb(0, 0, 0);
                                                border-radius: 4px;
                                                background: transparent;

                                                span {
                                                    font-size: 1.3em;
                                                    font-weight: 500;
                                                }

                                                &:hover {
                                                    background: rgba(232, 232, 232, 0.578);
                                                }
                                            }
                                        }

                                    }

                                }
                            }

                            .ads-container {
                                width: 100%;
                                min-height: 200px;
                                overflow: hidden;
                                position: relative;
                                background: rgb(85, 85, 255);
                                background: -moz-linear-gradient(139deg, rgba(85, 85, 255, 1) 0%, rgba(125, 193, 255, 1) 100%);
                                background: -webkit-linear-gradient(139deg, rgba(85, 85, 255, 1) 0%, rgba(125, 193, 255, 1) 100%);
                                background: linear-gradient(139deg, rgba(85, 85, 255, 1) 0%, rgba(125, 193, 255, 1) 100%);
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5555ff", endColorstr="#7dc1ff", GradientType=1);
                                border-radius: 10px;

                                &:hover {
                                    &::after {
                                        padding: 15px 20px;
                                        transition: 0.5s ease-in-out;
                                    }
                                }

                                &:after {
                                    content: "NEW";
                                    padding: 5px 20px;
                                    font-family: var(--karla);
                                    background: white;
                                    position: absolute;
                                    top: 0;
                                    right: 20px;
                                    border-bottom-left-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                    transition: 0.5s ease-in-out;
                                }

                                .ads-wrapper {
                                    width: 100%;
                                    height: 100%;
                                    background: url("../../images/user/adbg.gif");
                                    padding: 20px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 30px;

                                    .ad-ttl {
                                        font-size: 1.5em;
                                        font-family: var(--karla);
                                        font-weight: 700;
                                        color: white;

                                    }

                                    .ad-description {
                                        color: white;
                                        font-family: var(--karla);
                                    }

                                    .ad-link {
                                        width: 100%;

                                        a {
                                            padding: 8px 18px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            text-decoration: none;
                                            background: white;
                                            color: var(--ter-clr);
                                            border: 2px solid white;
                                            font-weight: 700;
                                            border-radius: 5px;
                                            font-family: var(--karla);
                                            transition: 0.5s ease;
                                            text-transform: uppercase;

                                            &:hover {
                                                background: transparent;
                                                color: white;
                                                transition: 0.5s ease;

                                            }
                                        }
                                    }
                                }
                            }

                            .grid-cards-container {
                                width: 100%;
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                grid-template-rows: auto;
                                gap: 20px 20px;
                                margin: 30px 0;

                                .grid-card {
                                    min-height: 150px;
                                    border-radius: 8px;
                                    background: rgb(241, 240, 240);
                                    border: 1px solid rgb(232, 232, 232);
                                    transition: 0.5s ease;

                                    &:hover {
                                        scale: 1.05;
                                        transition: 0.5s ease;
                                        box-shadow: 0 0 15px rgb(201, 201, 201);
                                    }

                                    &:nth-child(even) {
                                        a {
                                            position: relative;

                                            &::before {
                                                position: absolute;
                                                top: 0;
                                                left: 0;

                                                content: "";
                                                width: 100%;
                                                height: 100%;
                                                background: url("../../images/user/cardbg3.png");
                                                background-size: cover;
                                                background-position: center;
                                                opacity: 0.5;
                                            }


                                        }

                                    }

                                    &:nth-child(odd) {
                                        a {
                                            position: relative;

                                            &::before {
                                                position: absolute;
                                                top: 0;
                                                left: 0;

                                                content: "";
                                                width: 100%;
                                                height: 100%;
                                                background: url("../../images/user/cardbg4.png");
                                                background-size: cover;
                                                background-position: center;
                                                opacity: 0.5;
                                            }
                                        }

                                    }

                                    &:nth-child(1) {
                                        background: #ffebc4;

                                    }

                                    &:nth-child(2) {
                                        background: #c4ffd9;

                                        a {}
                                    }

                                    &:nth-child(3) {
                                        background: #e4cbff;
                                    }

                                    &:nth-child(4) {
                                        background: #ffcfd4;
                                    }

                                    a {
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        padding: 15px;
                                        text-decoration: none;

                                        color: black;

                                        .card-ttl {
                                            width: 100%;
                                            padding: 5px;
                                            font-family: "Karla", sans-serif;
                                            font-weight: 800;
                                            font-size: 1em;

                                        }

                                        .card-val {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        }

                    }

                }
            }
        }
    }
}