@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

:root {

    --prdarkclr: #7c83fd;
    --sddarkclr: #f2d600;
    --prlightclr: #f3c2ff;
    --sdclightlr: #d6c8ff;

    --sdfont: 'Bungee Outline', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body,
html {
    width: 100vw;
    height: 100svh;
    font-family: sans-serif;
}

// UTILITY CLASSES

.main-section {
    width: 100vw;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;

    .main-wrapper {
        width: 100%;
    }

}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 18px 45px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    box-sizing: border-box;
    transition: translate 0.5s ease-in-out;

    &:hover {
        translate: 0 -5px 0;
        transition: translate 0.5s ease-in-out;
    }

    &:focus {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);

    }
}

.heading-with-bar {
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    color: var(--prdarkclr);
    padding: 15px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        width: 150%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
    }

    &::after {
        content: '';
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #000;
        background: #fff;
        position: absolute;
        bottom: -7px;
    }
}

.heading-with-bar-right {
    font-size: 3em;
    font-weight: 600;
    color: #000;
    padding: 15px 0;
    position: relative;
    display: inline;
    
    // justify-content: flex-start;
    // align-items: center;
    text-align: left;
    // background: #b30000;

    &::before {
        content: '';
        width: 80%;
        height: 4px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;

    }

    &::after {
        content: '';
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #000;
        background: #fff;
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: -7px;
        left: 80%;
    }
}


.nav-bar {
    width: 100%;
    height: 80px;
    background: #fff;

    .nav-bar-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 150px;

        // .nav-wrap-left {}

        .nav-wrap-middle {
            .menu {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                list-style: none;

                .item {
                    a {
                        font-size: 16px;
                        text-decoration: none;
                        padding: 6px 16px;
                        color: #000;
                        font-weight: 400;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 2px solid transparent;
                        position: relative;
                        z-index: 1;

                        &::before {
                            content: '';
                            width: 0px;
                            height: 3px;
                            border-radius: 10px;
                            background: var(--prdarkclr);
                            position: absolute;
                            bottom: 0;
                            transition: 0.5s ease;
                            opacity: 0;
                            visibility: hidden;
                            z-index: -1;
                            transition: 0.5s ease;

                        }

                        &:hover {

                            &::before {
                                transition: 0.5s ease;
                                visibility: visible;
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .nav-wrap-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            .action-btn {
                a {
                    text-decoration: none;
                    color: #000;
                }

                .sign-up {}

                .login {
                    padding: 12px 35px;
                    color: #fff;
                    border-radius: 30px;
                    background: var(--prdarkclr);
                }

                .shoping {
                    padding: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #c3c6ff4d;
                }
            }
        }
    }
}

// home page section 
.home-page {
    width: 100%;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;


    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--prdarkclr);
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }

    .home-page-wrap {
        width: 100%;

        .home-header {
            width: 100%;
            height: 95vh;
            // background: url('../images/section1-bg.png');
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .home-header-inner {
                width: 92%;
                height: 90%;
                background: #c3c6ff4d;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                .home-header-left {
                    width: 50%;
                    height: 100%;

                    .hm-left-wrap {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        flex-direction: column;
                        gap: 20px;
                        padding-left: 85px;

                        img {
                            width: 150px;
                            height: 150px;
                            position: absolute;
                            top: 60px;
                            right: 140px;
                        }

                        .section1-heading {
                            font-size: 4.5em;
                            font-weight: 600;
                            z-index: 2;
                        }

                        .section1-btn-cont {
                            width: 100%;
                            height: 50px;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            gap: 30px;

                            .btn-cont-left {
                                padding: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: var(--prdarkclr);
                                border-radius: 34px;
                                text-decoration: none;
                                color: #fff;
                                font-weight: 500;
                            }

                            .btn-cont-right {
                                padding: 0px 20px 0px 0px;
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                background: #fff;
                                color: #000;
                                text-decoration: none;
                                border-radius: 34px;

                                .circle {
                                    border-radius: 50%;
                                    background: var(--sddarkclr);
                                    padding: 16px;

                                    span {
                                        box-sizing: border-box;
                                        font-size: 30px;
                                    }

                                }
                            }
                        }
                    }
                }

                .home-header-right {
                    width: 50%;
                    height: 100%;

                    .hm-right-wrap {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .img1 {
                            width: 700px;
                            height: 700px;
                            position: absolute;
                            bottom: -35px;
                            right: -17px;
                        }

                        .img2 {
                            width: 820px;
                            // height: 500px;
                            position: absolute;
                            bottom: 0px;
                            left: -50px;
                            z-index: 1;
                        }

                        .img3 {
                            width: 50px;
                            position: absolute;
                            bottom: 300px;
                            right: 57px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}

// UPCOMING PROGRAM  
.up-section {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .section2-cont {
        width: 92%;
        height: 90%;
        background: #abb0fe;
        border-radius: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .up-section-left {
            height: 100%;
            width: 40%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 90%;
                height: 86%;
                border-radius: 24px;
                object-fit: cover;
            }
        }

        .up-section-right {
            height: 100%;
            width: 60%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: left;
            flex-direction: column;

            h1 {
                color: #fff;
                font-weight: 500;
                font-size: 3em;
                height: 25%;
            }

            .right-bottom {
                height: 60%;
                width: 100%;
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 20px;
                overflow: hidden;

                .img-box {
                    height: 150px;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    border-radius: 10px;
                    overflow: hidden;
                }

                .right-bottom-right {
                    padding: 10px;
                    color: #fff;

                    .text-contain {
                        font-size: 1.2em;
                    }

                    .name-contain {
                        margin-top: 10px;
                        font-size: 1.2em;
                        margin-bottom: 30px;
                    }

                    .explore-contain {
                        margin-top: 20px;
                        text-decoration: none;
                        padding: 15px 80px;
                        background: #fff;
                        color: #000;
                        border-radius: 5px;

                        span {
                            vertical-align: middle;
                        }
                    }
                }

            }

        }
    }
}

.our-dig-cluster-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px 0;

    .our-dig-inner {
        width: 92%;
        height: 100%;
        display: flex;
        // justify-content: center;
        flex-direction: column;

        .cluster-section-cont {
                width: 100px;
                height: 60%;
            .cluster-section-inner {
    
    
            }
        }
    }

}

@keyframes rotateAndResize {
    50% {
        rotate: 0deg;
    }

    100% {
        width: 100%;
        border-radius: 24px;
    }
}

@keyframes shine {
    0% {
        left: -100%;

    }

    100% {
        left: 100%;

    }
}