@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
:root {
  --prdarkclr: #7c83fd;
  --sddarkclr: #f2d600;
  --prlightclr: #f3c2ff;
  --sdclightlr: #d6c8ff;
  --sdfont: "Bungee Outline", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  width: 100vw;
  height: 100svh;
  font-family: sans-serif;
}

.main-section {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}
.main-section .main-wrapper {
  width: 100%;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: 18px 45px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  box-sizing: border-box;
  transition: translate 0.5s ease-in-out;
}
.primary-btn:hover {
  translate: 0 -5px 0;
  transition: translate 0.5s ease-in-out;
}
.primary-btn:focus {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.heading-with-bar {
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  color: var(--prdarkclr);
  padding: 15px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-with-bar::before {
  content: "";
  width: 150%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
}
.heading-with-bar::after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #000;
  background: #fff;
  position: absolute;
  bottom: -7px;
}

.heading-with-bar-right {
  font-size: 3em;
  font-weight: 600;
  color: #000;
  padding: 15px 0;
  position: relative;
  display: inline;
  text-align: left;
}
.heading-with-bar-right::before {
  content: "";
  width: 80%;
  height: 4px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.heading-with-bar-right::after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #000;
  background: #fff;
  position: absolute;
  display: flex;
  justify-content: end;
  bottom: -7px;
  left: 80%;
}

.nav-bar {
  width: 100%;
  height: 80px;
  background: #fff;
}
.nav-bar .nav-bar-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}
.nav-bar .nav-bar-wrap .nav-wrap-middle .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.nav-bar .nav-bar-wrap .nav-wrap-middle .menu .item a {
  font-size: 16px;
  text-decoration: none;
  padding: 6px 16px;
  color: #000;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
  position: relative;
  z-index: 1;
}
.nav-bar .nav-bar-wrap .nav-wrap-middle .menu .item a::before {
  content: "";
  width: 0px;
  height: 3px;
  border-radius: 10px;
  background: var(--prdarkclr);
  position: absolute;
  bottom: 0;
  transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.5s ease;
}
.nav-bar .nav-bar-wrap .nav-wrap-middle .menu .item a:hover::before {
  transition: 0.5s ease;
  visibility: visible;
  width: 100%;
  opacity: 1;
}
.nav-bar .nav-bar-wrap .nav-wrap-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav-bar .nav-bar-wrap .nav-wrap-right .action-btn a {
  text-decoration: none;
  color: #000;
}
.nav-bar .nav-bar-wrap .nav-wrap-right .action-btn .login {
  padding: 12px 35px;
  color: #fff;
  border-radius: 30px;
  background: var(--prdarkclr);
}
.nav-bar .nav-bar-wrap .nav-wrap-right .action-btn .shoping {
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(195, 198, 255, 0.3019607843);
}

.home-page {
  width: 100%;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.home-page::-webkit-scrollbar {
  width: 10px;
}
.home-page::-webkit-scrollbar-track {
  border-radius: 10px;
}
.home-page::-webkit-scrollbar-thumb {
  background: var(--prdarkclr);
  border-radius: 10px;
}
.home-page::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.home-page .home-page-wrap {
  width: 100%;
}
.home-page .home-page-wrap .home-header {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.home-page .home-page-wrap .home-header .home-header-inner {
  width: 92%;
  height: 90%;
  background: rgba(195, 198, 255, 0.3019607843);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-left {
  width: 50%;
  height: 100%;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-left .hm-left-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 20px;
  padding-left: 85px;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-left .hm-left-wrap img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 60px;
  right: 140px;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-left .hm-left-wrap .section1-heading {
  font-size: 4.5em;
  font-weight: 600;
  z-index: 2;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-left .hm-left-wrap .section1-btn-cont {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-left .hm-left-wrap .section1-btn-cont .btn-cont-left {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--prdarkclr);
  border-radius: 34px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-left .hm-left-wrap .section1-btn-cont .btn-cont-right {
  padding: 0px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 34px;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-left .hm-left-wrap .section1-btn-cont .btn-cont-right .circle {
  border-radius: 50%;
  background: var(--sddarkclr);
  padding: 16px;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-left .hm-left-wrap .section1-btn-cont .btn-cont-right .circle span {
  box-sizing: border-box;
  font-size: 30px;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-right {
  width: 50%;
  height: 100%;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-right .hm-right-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-right .hm-right-wrap .img1 {
  width: 700px;
  height: 700px;
  position: absolute;
  bottom: -35px;
  right: -17px;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-right .hm-right-wrap .img2 {
  width: 820px;
  position: absolute;
  bottom: 0px;
  left: -50px;
  z-index: 1;
}
.home-page .home-page-wrap .home-header .home-header-inner .home-header-right .hm-right-wrap .img3 {
  width: 50px;
  position: absolute;
  bottom: 300px;
  right: 57px;
  z-index: 1;
}

.up-section {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.up-section .section2-cont {
  width: 92%;
  height: 90%;
  background: #abb0fe;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.up-section .section2-cont .up-section-left {
  height: 100%;
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.up-section .section2-cont .up-section-left img {
  width: 90%;
  height: 86%;
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.up-section .section2-cont .up-section-right {
  height: 100%;
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.up-section .section2-cont .up-section-right h1 {
  color: #fff;
  font-weight: 500;
  font-size: 3em;
  height: 25%;
}
.up-section .section2-cont .up-section-right .right-bottom {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.up-section .section2-cont .up-section-right .right-bottom .img-box {
  height: 150px;
  width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.up-section .section2-cont .up-section-right .right-bottom .right-bottom-right {
  padding: 10px;
  color: #fff;
}
.up-section .section2-cont .up-section-right .right-bottom .right-bottom-right .text-contain {
  font-size: 1.2em;
}
.up-section .section2-cont .up-section-right .right-bottom .right-bottom-right .name-contain {
  margin-top: 10px;
  font-size: 1.2em;
  margin-bottom: 30px;
}
.up-section .section2-cont .up-section-right .right-bottom .right-bottom-right .explore-contain {
  margin-top: 20px;
  text-decoration: none;
  padding: 15px 80px;
  background: #fff;
  color: #000;
  border-radius: 5px;
}
.up-section .section2-cont .up-section-right .right-bottom .right-bottom-right .explore-contain span {
  vertical-align: middle;
}

.our-dig-cluster-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 100px 0;
  position: relative;
}
.our-dig-cluster-section .section3-background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -1;
}
.our-dig-cluster-section .section3-background .box-cont {
  width: 92%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.our-dig-cluster-section .section3-background .box-cont .box1 {
  width: 15%;
  height: 100%;
  background: #e3e5ff;
  border: none;
  margin-left: 30px;
}
.our-dig-cluster-section .section3-background .box-cont .box2 {
  width: 20%;
  height: 100%;
  background: #eff0ff;
  border: none;
}
.our-dig-cluster-section .section3-background .box-cont .box3 {
  width: 25%;
  height: 100%;
  background: #f7f8ff;
  border: none;
}
.our-dig-cluster-section .our-dig-inner {
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.our-dig-cluster-section .our-dig-inner .cluster-section-cont {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.our-dig-cluster-section .our-dig-inner .cluster-section-cont .course-card {
  width: 900px;
  height: 900px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.our-dig-cluster-section .our-dig-inner .cluster-section-cont .course-card.open {
  width: 900px;
  height: 900px;
}
.our-dig-cluster-section .our-dig-inner .cluster-section-cont .course-card .open-card-up {
  width: 100%;
  height: 60%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
}
.our-dig-cluster-section .our-dig-inner .cluster-section-cont .course-card .open-card-up img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-dig-cluster-section .our-dig-inner .cluster-section-cont .course-card .open-card-down {
  width: 100%;
  height: 40%;
  background: #fff;
}
@keyframes rotateAndResize {
  50% {
    rotate: 0deg;
  }
  100% {
    width: 100%;
    border-radius: 24px;
  }
}
@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}/*# sourceMappingURL=our-style.css.map */