@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

:root {

    --prdarkclr: #7c83fd;
    --sddarkclr: #f2d600;
    --prlightclr: #f3c2ff;
    --sdclightlr: #d6c8ff;

    --sdfont: 'Bungee Outline', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body,
html {
    width: 100vw;
    height: 100svh;
    font-family: sans-serif;
}

// UTILITY CLASSES

.main-section {
    width: 100vw;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;

    .main-wrapper {
        width: 100%;
    }

}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 18px 45px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    box-sizing: border-box;
    transition: translate 0.5s ease-in-out;

    &:hover {
        translate: 0 -5px 0;
        transition: translate 0.5s ease-in-out;
    }

    &:focus {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);

    }
}

// .secondary-btn {
//     cursor: pointer;
//     height: 55px;
//     text-align: center;
//     border: none;
//     padding: 18px 45px;
//     background: #fff;
//     box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
//     border-radius: 10px;

//     &:hover {

//         span {
//             background-position: 100% 0;
//             -o-transition: all .4s ease-in-out;
//             -webkit-transition: all .4s ease-in-out;
//             transition: all .4s ease-in-out;
//         }
//     }

//     span {
//         background-image: linear-gradient(to right, #6978FF, #E16BFF, #764ba2, #6B8DD6, );
//         // background: linear-gradient(88deg, #6978FF 29.43%, #E16BFF 61.87%);
//         background-clip: text;
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         font-weight: 800;
//         font-size: 2.1em;
//         letter-spacing: 5.1px;
//         background-size: 300% 100%;
//         -o-transition: all .4s ease-in-out;
//         -webkit-transition: all .4s ease-in-out;
//         transition: all .4s ease-in-out;
//     }
// }

.nav-bar {
    width: 100%;
    height: 80px;
    background: #fff;

    .nav-bar-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 150px;

        // .nav-wrap-left {}

        .nav-wrap-middle {
            .menu {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                list-style: none;

                .item {
                    a {
                        font-size: 16px;
                        text-decoration: none;
                        padding: 6px 16px;
                        color: #000;
                        font-weight: 400;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 2px solid transparent;
                        position: relative;
                        z-index: 1;

                        &::before {
                            content: '';
                            width: 0px;
                            height:3px;
                            border-radius: 10px;
                            background: var(--prdarkclr);
                            position: absolute;
                            bottom: 0;
                            transition: 0.5s ease;
                            opacity: 0;
                            visibility: hidden;
                            z-index: -1;
                            transition: 0.5s ease;
                            
                        }

                        &:hover {
                            
                            &::before {
                                transition: 0.5s ease;
                                visibility: visible;
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .nav-wrap-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            .action-btn {
                a {
                    text-decoration: none;
                    color: #000;
                }

                .sign-up {}

                .login {
                    padding: 12px 35px;
                    color: #fff;
                    border-radius: 30px;
                    background: var(--prdarkclr);
                }

                .shoping {
                    padding: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #c3c6ff4d;
                }
            }
        }
    }
}

.home-page {
    width: 100%;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;
   

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--prdarkclr);
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }

    .home-page-wrap {
        width: 100%;

        .home-header {
            width: 100%;
            height: 95vh;
            // background: url('../images/section1-bg.png');
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .home-header-inner {
                width: 92%;
                height: 90%;
                background: #c3c6ff4d;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                .home-header-left {
                    width: 50%;
                    height: 100%;

                    .hm-left-wrap {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        flex-direction: column;
                        gap: 20px;
                        padding-left: 85px;

                        img {
                            width: 150px;
                            height: 150px;
                            position: absolute;
                            top: 60px;
                            right: 140px;
                        }

                        .section1-heading {
                            font-size: 4.5em;
                            font-weight: 600;
                            z-index: 2;
                        }

                        .section1-btn-cont {
                            width: 100%;
                            height: 50px;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            gap: 30px;

                            .btn-cont-left {
                               padding: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: var(--prdarkclr);
                                border-radius: 34px;
                                text-decoration: none;
                                color: #fff;
                                font-weight: 500;
                            }
                            .btn-cont-right {
                                padding: 0px 20px 0px  0px ;
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                background: #fff;
                                color: #000;
                                text-decoration: none;
                                border-radius: 34px;
                                .circle{
                                    border-radius: 50%;
                                    background: var(--sddarkclr) ;
                                    padding: 16px;
                                    span{
                                        box-sizing: border-box;
                                        font-size: 30px ;
                                    }

                                }
                            }
                        }
                    }
                }

                .home-header-right {
                    width: 50%;
                    height: 100%;

                    .hm-right-wrap {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .img1 {
                            width: 700px;
                            height: 700px;
                            position: absolute;
                            bottom: -35px;
                            right: -17px;
                        }

                        .img2 {
                            width: 820px;
                            // height: 500px;
                            position: absolute;
                            bottom: 0px;
                            left: -50px;
                            z-index: 1;
                        }

                        .img3 {
                            width: 50px;
                            position: absolute;
                            bottom: 300px;
                            right: 57px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotateAndResize {
    50% {
        rotate: 0deg;
    }

    100% {
        width: 100%;
        border-radius: 24px;
    }
}
@keyframes shine{
    0%{
        left: -100%;

    }
    100%{
        left: 100%;

    }
}