@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Iceberg&family=Righteous&family=Rubik+Mono+One&display=swap');

:root {

    --prdarkclr: #7c83fd;
    --sddarkclr: #f2d600;
    --prlightclr: #f3c2ff;
    --sdclightlr: #d6c8ff;

    --sdfont: "Iceberg", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body,
html {
    width: 100vw;
    height: 100svh;
    font-family: sans-serif;
}

// UTILITY CLASSES

.main-section {
    width: 100vw;
    height: 100svh;
    overflow: hidden;

    .main-wrapper {
        width: 100%;
        // background: #8080f0;
    }

}

.gradient {
    --size: 350px;
    --speed: 30s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#6978FF, #E16BFF);
    animation: gradrot var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
}

.pri-btn {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 3px solid;
    border-image-slice: 1;
    transition: 0.5s ease-in-out;
    border-image-source: conic-gradient(from 180deg at 50% 50%, #04e4ff 0deg, #04e4ff 54.38deg, #04e4ff 93deg, #8842dc 140deg, #8842dc 247deg, #04e4ff 282deg, #04e4ff 360deg);

    &:hover {
        box-shadow: 0 0 5px rgb(42, 195, 255);
        transition: 0.5s ease-in-out;
    }

    &:focus {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);

    }
}

.heading-with-bar {
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    color: var(--prdarkclr);
    padding: 15px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        width: 150%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
    }

    &::after {
        content: '';
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #000;
        background: #fff;
        position: absolute;
        bottom: -7px;
    }
}

.heading-with-bar-right {
    font-size: 3em;
    font-weight: 600;
    color: #000;
    padding: 15px 0;
    position: relative;
    display: inline;

    // justify-content: flex-start;
    // align-items: center;
    text-align: left;
    // background: #b30000;

    &::before {
        content: '';
        width: 80%;
        height: 4px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;

    }

    &::after {
        content: '';
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #000;
        background: #fff;
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: -7px;
        left: 80%;
    }
}

.heading-with-bar-right-white {
    font-size: 3em;
    font-weight: 600;
    color: #fff;
    padding: 15px 0;
    position: relative;
    display: inline;
    // justify-content: flex-start;
    // align-items: center;
    text-align: left;

    &::before {
        content: '';
        width: 35%;
        height: 4px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;

    }

    &::after {
        content: '';
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: #fff;
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: -7px;
        left: 35%;
    }
}

.heading-right-with-bar-right {
    font-size: 3em;
    font-weight: 600;
    color: #000;
    padding: 15px 0;
    position: relative;
    display: inline;

    // justify-content: flex-start;
    // align-items: center;
    text-align: right;
    // background: #b30000;

    &::before {
        content: "";
        width: 30%;
        height: 4px;
        background: #000;
        position: absolute;
        bottom: 0;
        right: 0;

    }

    &::after {
        content: "";
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid #000;
        background: #fff;
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: -7px;
        right: 30%;
    }
}


.nav-bar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent;
    border-bottom: 1px solid rgba(160, 160, 160, 0.26);
    transition: 1s ease;

    &.scrolled{
        height: 70px;
        background: rgba(1, 1, 59, 0.752);
        transition: 1s ease;
    }


    .nav-bar-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        // .nav-wrap-left {}

        .nav-wrap-middle {
            .menu {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                list-style: none;

                .item {
                    a {
                        font-size: 16px;
                        text-decoration: none;
                        padding: 6px 16px;
                        color: #ffffff;
                        font-weight: 400;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 2px solid transparent;
                        position: relative;
                        z-index: 1;

                        &::before {
                            content: '';
                            width: 0px;
                            height: 3px;
                            border-radius: 10px;
                            background: #fff;
                            position: absolute;
                            bottom: 0;
                            transition: 0.5s ease;
                            opacity: 0;
                            visibility: hidden;
                            z-index: -1;
                            transition: 0.5s ease;

                        }

                        &:hover {

                            &::before {
                                transition: 0.5s ease;
                                visibility: visible;
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .nav-wrap-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            .action-btn {
                a {
                    text-decoration: none;
                    color: #ffffff;
                }

                .login {
                    padding: 10px 35px;
                    color: #fff;
                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(18px);
                    -webkit-backdrop-filter: blur(18px);
                    border: 1px solid #d3d3d3a3;
                    z-index: 10;
                    color: rgb(255, 255, 255);
                    transition: 0.5s ease;

                    &:hover {
                        transition: 0.5s ease;
                        background: rgba(255, 255, 255, 0.318);
                    }
                }

                .shoping {
                    padding: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #c3c6ff4d;
                }
            }
        }
    }
}

// home page section 
.home-page {
    width: 100%;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;
    // background: rgb(128, 128, 240);

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--prdarkclr);
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }

    .home-page-wrap {
        width: 100%;
        // background: #0b0c36;
        background: #000528;

        .home-header {
            width: 100%;
            // background: url('../images/section1-bg.png');

            .home-header-top {
                height: 200vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .top-hd-bg {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;

                    &::before {
                        content: 'GROWTHADDICTED';
                        position: absolute;
                        top: 100px;
                        left: -120px;
                        font-size: 14rem;
                        rotate: -22deg;
                        font-weight: 800;
                        color: rgba(255, 255, 255, 0.808);
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: gray;
                        -webkit-text-fill-color: rgba(255, 255, 255, 0.123);
                        // text-shadow: 0 0 15px rgba(255, 255, 255, 0.129);
                        // animation: textanim 5s linear infinite;
                        opacity: 0.5;
                        z-index: 1;

                    }

                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        // background: radial-gradient(#2c8bffd4, #aa6afdb1, #2c8bff72, #aa6afd80);
                        // // background: radial-gradient(45deg,#6499e9b4, #aa6afd8b, #2c8bff72, #aa6afd80);
                        // background-size: 800% 300%;
                        // animation: gradbg 15s linear infinite alternate;


                        --size: 1400px;
                        --speed: 15s;
                        --easing: cubic-bezier(0.8, 0.8, 0.8, 0.8);

                        width: 1400px;
                        height: 1400px;
                        filter: blur(calc(var(--size) / 5));
                        background-image: linear-gradient(#277fcd, #d971ff);
                        animation: gradrot var(--speed) var(--easing) alternate infinite;
                        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                        position: absolute;
                        top: -300px;
                        left: 100px;
                        z-index: 2;
                    }

                    .top-hd-fg {
                        width: 100%;
                        position: absolute;
                        top: 150px;
                        left: 0;
                        z-index: 3;
                        color: white;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        gap: 30px;

                        h3 {
                            text-align: center;
                            font-size: 2em;
                            font-weight: 500;
                            text-transform: uppercase;

                        }

                        .fg-title {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            gap: 15px;

                            h1 {
                                font-size: 4.5em;
                                text-transform: uppercase;
                                text-align: center;
                            }

                            h4 {
                                font-size: 2em;
                                font-weight: 300;
                                text-transform: uppercase;
                                text-align: center;

                            }
                        }
                    }
                    .moving-screen{
                        width: 100%;
                        position: absolute;
                        top: 200px;
                        left: 0;
                        z-index: 3;
                        .temp-scroll{
                            display: flex;
                            overflow: hidden;
                            width: 100%;
                            position: relative;
                            mask-image: linear-gradient(90deg,transparent,#fff 20%,#fff 80%,transparent);
                            -webkit-mask-image: linear-gradient(90deg,transparent,#fff 20%,#fff 80%,transparent);
                            div{
                                white-space: nowrap;
                                display: flex;
                                gap: 10px;
                                animation: movscr 20s linear infinite;
                                // animation-delay: calc(var(--t) * -1);

                                &:nth-child(2){
                                animation: movscr2 var(--t) linear infinite;
                                // animation-delay: 20s;
                                .momnts-card{
                                    background: white;
                                }
                                }
                                .momnts-card{
                                    width: 400px;
                                    height: 300px;
                                    background: rgb(255, 49, 49);
                                    border-radius: 10px;
                                    
                                }
                            }
                        }
                    }
                }

            }

        }
    }
}



@keyframes movscr {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
@keyframes movscr2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-200%);
    }
}

@keyframes gradrot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes textanim {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #0e3742;
        text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #ffffff52;
        text-shadow: 0 0 10px #03bcf42f, 0 0 20px #03bcf42d, 0 0 40px #03bcf425,
            0 0 80px #03bcf430, 0 0 160px #03bcf431;
    }
}