* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:focus-visible {
  outline: none;
}

.login_main_wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  background-color: #001232;
}

.login_main_wrapper::before {
  content: "";
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.login_main_wrapper .login_inner_box {
  background-image: url("../images/bg-layer.png");
  /* background-color: #001539;*/
  background-color: #fff;
  width: 100%;
  max-width: 1300px;
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
  text-align: left;
  /* margin: 50px auto; */
  margin: 20px auto;
  justify-content: center;
  border-radius: 20px;
}

.left_content {
  display: inline-block;
}

.left_img {
  position: relative;
  padding: 110px 110px;
  /* left:0;
  right: 0;
  margin: auto;
  top:15%; */
}

.left_img img {
  width: 100%;
  max-width: 100%;
}

.login_main_wrapper.signin_wrapper .left_img {
  padding: 110px 100px;
  left: 0;
  right: 0;
  margin: auto;
  top: 15%;
}

/* .right_form{
    display: inline-block;
    vertical-align: middle;
    padding: 0 54px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 509px;
} 
.right_inner{
    padding: 70px 27px 0;
    position: relative;
    z-index: 1;
}*/
.top_heading {
  position: relative;
}

.top_heading h1 {
  font-size: 34px;
  color: #001539;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  margin-bottom: 20px;
}

.top_heading h1 span {
  color: #c41c98;
  font-weight: 700;
}

.top_heading p {
  font-size: 18px;
  color: #848296;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  margin-bottom: 20px;
  max-width: 100%;
  width: 310px;
}

.input-field {
  position: relative;
}

.input-field label {
  font-size: 16px;
  line-height: 26px;
  font-family: "Heebo", sans-serif;
  /* color: #fff; */
  color: #001539;
  text-transform: capitalize;
  font-family: "Heebo", sans-serif;
}

.input-field .email, .input-field .password {
  font-size: 15px;
  color: #848296;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
}

.input-field input::-moz-placeholder, .input-field select::-moz-placeholder {
  color: #848296;
  font-family: "Heebo", sans-serif;
}

.input-field input::placeholder, .input-field select::placeholder, .input-field select option {
  color: #848296;
  font-family: "Heebo", sans-serif;
}

.input-field select {
  padding: 10px 20px;
  color: #848296;
  border: 1px solid #001539;
  border-radius: 5px;
}

.input-field input {
  width: 100%;
  /* min-height: 60px; */
  min-height: 40px;
  border-radius: 5px;
  filter: drop-shadow(0 0 15px rgba(120, 110, 183, 0.1));
  background-color: #fbfaff;
  font-size: 15px;
  padding: 10px 40px 10px 10px;
  border-color: transparent;
  margin-bottom: 20px;
  font-family: "Heebo", sans-serif;
  border: 1px solid #001539;
}

/* .input-field span{ */
.input-field i {
  font-size: 15px;
  position: absolute;
  top: 47%;
  right: 7%;
  color: #001232;
  fill: #001232;
}

.input-field.signin-input i {
  top: 46%;
  right: 5%;
}

/* .input-field span i{
    color: #6a898c;
    font-size: 15px;
} */
.input-field input:focus {
  outline: none;
}

.checkbox {
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* justify-content: space-between;
  align-items: center; */
}

.checkbox label {
  font-size: 15px;
  color: #848296;
  font-weight: 400;
  cursor: pointer;
  margin-top: 3px;
  position: relative;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.checkbox span a {
  font-size: 15px;
  color: #848296;
  font-weight: 400;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
  transition: all 0.5s ease;
}

.checkbox span a:hover {
  color: rgb(214, 88, 51);
}

.checkbox label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

span.remember {
  margin-left: 27px;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 16px;
  width: 16px;
  filter: drop-shadow(0 0 15px rgba(120, 110, 183, 0.1));
  background-color: #fbfaff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #fbfaff;
}

.checkbox label input:checked ~ .checkmark {
  background-color: #fbfaff;
}

.checkbox label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox label .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #001232;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.login {
  margin-top: 25px;
}

.login .btn {
  background: linear-gradient(to right, #c41c98, #009dea);
  border-radius: 5px;
  padding: 15px 0px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 17px;
  color: #ffffff;
  font-weight: 600;
  max-width: 100%;
  width: 440px;
  border: 0px;
  text-transform: uppercase;
  font-family: "Heebo", sans-serif;
  z-index: 0;
  transition: all 400ms ease;
  overflow: hidden;
  z-index: 0;
}

.login .btn:hover {
  box-shadow: rgb(214, 88, 51) 0px 0px 0px 34px inset;
}

.login p {
  font-size: 18px;
  line-height: 1.3;
  color: #848296;
  font-weight: 400;
  padding-top: 60px;
  margin: 0;
}

.login-p {
  padding-top: 40px !important;
}

.login a {
  color: #c41c98;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease;
}

.login a:hover {
  color: rgb(214, 88, 51);
}

.outer_img_top {
  position: absolute;
  left: 69%;
  bottom: 62%;
  z-index: 0;
}

.outeer_img_bottom {
  position: absolute;
  right: 69%;
  top: 72%;
  z-index: 0;
}

/* ------------------forget password css start ---------------------*/
/* password css */
.for_head .ka_foget h2 {
  color: #6b8a8d;
  font-size: 34px;
  color: #2b243b;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.for_head a.ka_foget {
  text-decoration: none;
}

.forget {
  display: flex;
}

.forget .btn.fp_login {
  margin-left: 10px;
}

.forget .btn {
  background-color: #0cd2de;
  border-radius: 5px;
  padding: 15px 0px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  max-width: 100%;
  width: 350px;
  border-color: transparent;
  text-transform: uppercase;
}

.ka_forget_pwd {
  padding: 50px 0;
}

.for_head p {
  font-size: 18px;
  color: #6b8a8d;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20px;
  padding: 0 4px;
}

.reset_btn {
  margin-top: 20px;
}

.reset_btn a {
  font-size: 25px;
  color: #2b243b;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: capitalize;
  transform: all 0.3s linear;
}

.reset_btn a:hover {
  color: #0cd2de;
}

.forget a {
  text-decoration: none;
  text-align: center;
}

.right_inner .top_heading img {
  /* margin-bottom: 20px; */
  margin-bottom: 10px;
  max-width: 100%;
}

/* ------------------forget password css end ---------------------*/
/* ------------------signup page css start ---------------------*/
.signin_wrapper .login_inner_box {
  /* max-width: 1300px; */
  max-width: 1800px;
  /* max-width: 100%; */
  margin: 10px auto;
  background-color: #fff;
  /* max-height: 100%;
  height: 820px; */
}

/* .login_main_wrapper.signin_wrapper::before{
    height: auto;
}
.login_main_wrapper.signin_wrapper {
    background-color: #fff;
    max-width: 100%;

} */
.right_form.sign_right_form {
  max-width: 600px;
  top: 0;
  background-color: #fff;
  padding: 10px 30px;
}

.right_form.sign_right_form .top_heading h1 {
  margin-bottom: 5px;
}

.right_form.sign_right_form .right_inner .top_heading img {
  margin-bottom: 0;
}

.signform_inline, .input-radio-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.signform_inline .input-field {
  max-width: 260px;
}

span.te-number {
  position: absolute;
  top: 26px;
  left: 0px;
  padding: 10px 10px 9px;
  min-height: 40px;
  background-color: #f2f2f2;
  color: #848296;
  border-radius: 5px 0px 0 5px;
  border-top: 1px solid #001539;
  border-bottom: 1px solid #001539;
  border-left: 1px solid #001539;
}

input#phone {
  position: relative;
  padding: 10px 10px 10px 50px;
}

.input-radio-btn input {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  margin-bottom: 0;
}

/* .signin_wrapper  */
.right_form.sign_right_form .right_inner {
  padding: 10px 0 10px;
}

/* .signform_inline.signform-select .input-field{ */
.signform-select .input-field {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  /* max-width: 230px;
  width: 100%; */
}

.signform_inline.signform-select .input-field select {
  max-width: 500px;
  min-height: 40px;
  width: 100%;
  border-radius: 5px;
  border-color: #001539;
}

/* .signform_inline.signform-select .input-field:nth-child(1) { */
.signform-select .input-field:nth-child(1) {
  /* top: -9px; */
  margin-bottom: 10px;
}

.input-radio-btn input:checked {
  background-color: red;
}

input[type=radio]:checked {
  background-color: red;
}

.input-field.signin-input input {
  border: 1px solid #001539;
  margin-bottom: 10px;
}

.input-field.signin-input slect {
  border-color: #001539;
}

.input-field select:focus {
  border-color: #001539;
  outline-color: #001539;
}

button.btn.btn-apply {
  position: absolute;
  right: 4px;
  padding: 8px 20px;
  top: 30px;
  background: linear-gradient(to right, #c41c98, #009dea);
  color: #fff;
  border: 0px;
}

.checkbox.signin-checkbox {
  /* border-color: #001539;    */
  justify-content: flex-start;
}

.checkbox.signin-checkbox label input:checked ~ .checkmark {
  border: 1px solid #001539;
}

.checkbox.signin-checkbox .checkmark {
  border: 1px solid #001539;
}

.checkbox .checkmark {
  border: 1px solid #001539;
}

.checkbox.signin-checkbox span.remember a {
  color: #c41c98;
}

.login.signin-btn .btn {
  width: 510px;
}

.input-field input[type=textarea] {
  min-height: 100%;
}

.login.signin-btn p.login-p {
  padding-top: 15px !important;
}

.input-field.cash_acc_field {
  display: none;
}

input[type=radio]:after {
  color: green;
  background-color: red;
}

input[type=radio]:checked:after {
  background-color: red;
  color: green;
}

input[type=radio]:checked {
  background-color: #c41c98;
}

/* label.form-radio-img img {
    width: 150px;
    max-width: 100%;
    height: 100%;
    min-height: 150px;
} */
.radio-container-img {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}

label.form-radio-img {
  display: block;
  position: relative;
  padding-left: 0px;
  cursor: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 10px 10px 5px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #2b85fc;
  max-width: 100%;
  width: 175px;
  overflow: hidden;
}

label.form-radio-img img {
  /* transform: scale(1.1); */
  transition: all 0.5s ease-in-out;
}

/* .radio-container-img:hover label.form-radio-img img{ */
label.form-radio-img:hover img {
  transform: scale(1.2);
}

label.form-radio-img:nth-child(2) {
  background-color: #ff007a;
}

label.form-radio-img:nth-child(3) {
  background-color: #fcb32b;
}

label#selectId7 {
  background: #ff2850 !important;
}

label.form-radio-img:nth-child(4) {
  background-color: #ff2850 !important;
}

.custom-radio-qimg.selected {
  border: 1px solid green;
}

.custom-radio-qimg {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  left: 10px;
  z-index: 1;
  top: 10px;
  background: var(--menu-color);
  background: url(../images/course_manager/tick-out.png) no-repeat;
}

.custom-radio-qimg input[type=radio] {
  margin: 1px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  outline: none;
  opacity: 0;
}

span.custom-radio.selected {
  border-color: green;
}

input[type=radio]:checked {
  /* position: absolute; */
  /* left: -27%; */
  height: 20px;
  width: 20px;
  /* top: -13px; */
}

span.custom-radio input[type=radio] {
  position: absolute;
  left: -7px;
  top: -14px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

span.custom-radio {
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  max-width: 100%;
  position: absolute;
  left: 7%;
  top: 10px;
  border-radius: 50%;
}

label.form-radio-img p {
  font-size: 14px;
  color: #fff;
  line-height: 0;
  /* margin: 0 10px;
  padding: 10px 0 10px; */
}

.sign-radio-price p {
  font-size: 16px;
  line-height: 28px;
  color: #848296;
  transition: 0.3s ease-in-out;
}

.sign-radio-price {
  padding: 2px 0;
}

.sign-radio-price.checked {
  visibility: visible;
}

label.form-radio-img .sign-radio-price > p {
  padding: 0px 0 0px;
}

span.custom-radio.selected .sign-radio-price {
  visibility: visible;
  opacity: 0;
}

.bestprice, .bestprice::before {
  position: absolute;
}

.bestprice {
  overflow: hidden;
  top: 0;
  right: 0px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  padding: 2px 10px;
}

.bestprice::before {
  content: "";
  top: 0;
  left: -80px;
  width: 30px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  filter: blur(6px);
  animation: login-blur 3s infinite;
  animation-delay: 0s;
  transform-origin: top;
}

.upper-para p {
  font-size: 13px;
  color: #848296;
  font-weight: 400;
}

@keyframes login-blur {
  from {
    transform: translate(0) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(0deg);
  }
}
/* .btn.btn-apply{

} */
/* ------------------signup page css end ---------------------*/
/* ------------------popup css start ---------------------*/
.popup {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 13px 0;
  max-width: 100%;
  width: 406px;
  position: absolute;
  right: 21%;
  top: 15%;
}

.popup::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 41px;
  border-radius: 3px;
  background-color: #00d179;
  top: 20px;
  left: 0;
}

.popup_img {
  margin-right: 25px;
  display: flex;
}

.popup_text p {
  font-size: 16px;
  color: #00d179;
  font-weight: 800;
}

.popup_text p span {
  color: #6b8a8d;
  font-weight: 400;
}

.popup_text .popup_icon {
  position: absolute;
  top: 10px;
  right: 6%;
}

.popup_text .popup_icon i {
  color: #aba3bf;
}

/* ------------------popup css responsive ---------------------*/
@media (max-width: 1800px) {
  .popup {
    top: 13%;
    right: 20%;
  }
}
@media (max-width: 1700px) {
  .popup {
    top: 10%;
    right: 18%;
  }
}
@media (max-width: 1600px) {
  .popup {
    top: 9%;
    right: 17%;
  }
}
@media (max-width: 1500px) {
  .popup {
    top: 5%;
    right: 13%;
  }
}
@media (max-width: 1400px) {
  .popup {
    top: 2%;
    right: 11%;
  }
  .login_main_wrapper::before {
    height: auto;
  }
  .login_main_wrapper.signin_wrapper .left_img {
    padding: 110px 90px;
  }
}
@media (max-width: 1300px) {
  .popup {
    top: 0%;
    right: 9%;
  }
  .bestprice {
    padding: 2px 5px;
    font-size: 11px;
  }
  label.form-radio-img p {
    line-height: 14px;
    padding: 0;
    margin-bottom: 0px;
  }
}
/* @media(max-width: 1200px){
    .popup{
        right: 11%;
    }
} */
/* ------------------popup css end ---------------------*/
@media (max-width: 1804px) {
  .login_main_wrapper.signin_wrapper::before {
    height: auto;
  }
}
@media (max-width: 1454px) {
  .login_main_wrapper .login_inner_box {
    margin: 30px auto;
  }
}
@media (max-width: 1300px) {
  .right_form.sign_right_form {
    max-width: 500px;
  }
  .signform_inline .input-field {
    max-width: 200px;
  }
}
@media (max-width: 1200px) {
  .login_main_wrapper .login_inner_box {
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
  }
  .login_main_wrapper.signin_wrapper .left_img img {
    width: auto;
    text-align: center;
    margin: 0 auto;
  }
  .left_img {
    padding: 80px 20px;
  }
  .right_inner {
    padding: 40px 15px 0 !important;
  }
  .login p {
    padding-bottom: 20px;
  }
  .popup {
    right: 11%;
  }
  .right_form.sign_right_form {
    max-width: 460px;
  }
  .right_form {
    max-width: 500px !important;
  }
  .input-field.signin-input.signin-radio {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .login_main_wrapper.signin_wrapper .left_img {
    padding: 110px 0px 30px;
  }
  .signform_inline .input-field {
    max-width: 300px;
  }
  .signform_inline {
    display: inline-flex;
    align-items: unset;
    justify-content: flex-start;
  }
  .input-field.signin-input {
    max-width: 300px;
  }
}
@media (max-width: 1024px) {
  .login_main_wrapper::before {
    display: none;
  }
  .popup {
    right: 4%;
  }
  .login p {
    padding-top: 35px;
  }
}
@media (max-width: 1000px) {
  .left_img:nth-child(n) {
    margin-bottom: 30px;
  }
}
@media (max-width: 998px) {
  .right_form {
    max-width: 482px;
  }
}
@media (min-width: 992px) and (max-width: 997px) {
  .right_form {
    max-width: 476px;
  }
  .right_inner {
    padding: 40px 25px 0;
  }
}
@media (max-width: 991px) {
  .login_main_wrapper .login_inner_box {
    justify-content: center;
  }
  .popup {
    top: 84%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .login_main_wrapper.signin_wrapper .login_inner_box .left_content .left_img {
    padding: 80px 0 50px;
  }
}
@media (min-width: 768px) and (max-width: 935px) {
  .login_main_wrapper.signin_wrapper .login_inner_box .left_content .left_img:nth-child(n) {
    margin-bottom: 0px;
    padding: 20px 0;
  }
}
@media (max-width: 768px) {
  .left_img {
    margin-bottom: 0;
    padding: 20px 20px 0;
  }
}
@media (max-width: 767px) {
  .login_main_wrapper.signin_wrapper .login_inner_box .left_content .left_img:nth-child(n) {
    margin-bottom: 0px;
    padding: 20px 0;
  }
  .left_img {
    margin-bottom: 0;
    padding: 20px 0;
  }
  .right_form {
    padding: 0 20px !important;
  }
}
@media (max-width: 600px) {
  .popup {
    top: 80%;
  }
}
@media (max-width: 480px) {
  .popup {
    top: 75%;
  }
  /* .signform_inline .input-field {
      max-width: fit-content;
  } */
  .right_inner {
    padding: 20px 0;
  }
  .radio-container-img {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .popup {
    top: 65% !important;
  }
}
@media (max-width: 459px) {
  .signform_inline .input-field {
    max-width: 100%;
    position: relative;
  }
}
@media (max-width: 425px) {
  .top_heading h1 {
    font-size: 26px;
  }
}
@media (max-width: 380px) {
  .popup {
    top: 60% !important;
  }
}
@media (max-width: 380px) {
  .popup {
    top: 55% !important;
  }
}
@media (max-width: 420px) {
  .popup {
    top: 70%;
    width: 300px;
    padding: 13px 7px;
  }
  .popup::before {
    top: 43px;
  }
  .popup_img {
    margin-right: 10px;
  }
}
@media (max-width: 459px) {
  .right_inner {
    padding: 40px 0px 0;
  }
}
@media (max-width: 429px) {
  .right_form {
    padding: 0 30px;
  }
}
@media (max-width: 375px) {
  .login p {
    font-size: 16px;
  }
  .top_heading h1 {
    font-size: 20px;
  }
}
/* loader css start */
.site_loaded .ga_loader_wrapper {
  display: none;
}

.ga_loader_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #fffeff;
}

.ga_loader_wrapper .ga_loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* loader css end */
.right_form {
  display: inline-block;
  vertical-align: middle;
  /* background-color: #001539; */
  background-color: #fff;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  /* min-height: 101px;
  height: 100%; */
  border-radius: 10px;
  /* top: 62px; */
  top: 0px;
}

.right_inner {
  /* padding: 20px 0px 15px; */
  padding: 80px 0px 15px;
  position: relative;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */